# 複製此檔為 .env，並填入你本機的原始 Excel 資料夾路徑。
# .env 已加入 .gitignore，不會被提交到版本控制。
#
# Windows 路徑用雙反斜線或正斜線：
#   LIBRARY_RAW_DIR=C:\\Users\\YourName\\Documents\\library_raw
#   LIBRARY_RAW_DIR=C:/Users/YourName/Documents/library_raw

LIBRARY_RAW_DIR=
